.header-container {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-container > div {
  background-color: #f1f1f1;
  display: inline-flex;
  flex: 100%;
  padding: 20px;
  margin: 10px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}
button {
  margin-top: 10px;
  margin-left: 10px;
}
