<div class="header-container">
  <h2>Vehicle Service Managment</h2>
</div>
<div class="flex-container" *ngFor="let user of tasks; let index = index">
  <div>
    <div>{{ user.name }} {{ user.lastName }}</div>
    <div>{{ user.registration }}</div>
    <div>
      <button (click)="viewInfo(index)">View</button>
      <button (click)="deleteService(user)">Delete</button>
    </div>
  </div>
</div>

<div class="btn-container">
  <button>Undo</button>
  <button style="align-self: flex-end" routerLink="/client-form">
    Add New Request
  </button>
</div>
