table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: center;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  margin-left: 12px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
