.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: aqua; */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* MODIFICAR EL TAMAÑNO DE LA CARD, HACER UNO GENERAL */
  max-width: 300o;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 30px;
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  outline: 0;
  color: white;
  background-color: rgb(138, 132, 132);
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 12px;
  border-radius: 20px;
}

button:hover {
  opacity: 0.7;
}
