<h2 style="text-align: center">Vehicle View Service</h2>

<div class="container" *ngFor="let item of tasks">
  <div class="card">
    <p>Name: {{ item.name }}</p>
    <p>Last name: {{ item.lastName }}</p>
    <p>Registration No: {{ item.registration }}</p>
    <p>Mobile No. {{ item.mobile }}</p>
    <p>Address: {{ item.address }}</p>
    <p>PickUp: {{ item.pickupDate | date : "mediumDate" }}</p>
    <p>Return: {{ item.returnDate | date : "mediumDate" }}</p>
  </div>
</div>

<div class="button-container">
  <button routerLink="/home-screen">Back to Home Screen</button>
</div>
